python-dotenv
langchain
langchain_community
ipykernel
pypdf
arxiv
langchain-text-splitters
langchain-openai

chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma